<div id="chatBox" class="chat-box border border-success bg-white">
    <form action="" class="">

        <input type="email" required class="form-control" id="chatEmail" placeholder="Enter your email" required>

        <div id="chatBoxMessages" class="chat-message"></div>
        
        <input type="text" class="form-control" id="chatMessage" aria-describedby="emailHelp" placeholder="Write a message">
            
        <button type="button" class="btn btn-primary w-100 mt-2" onClick="sendNewMessage()">Send</button>

        </form>
</div>